// Libraries
@import './libs/_owl.carousel.min';
@import './libs/_owl.theme.default.min';

// Fonts
@import './fonts/_fonts';

// Sections / Blocks
@import './block/_button';
@import './block/_burger-menu';
@import './block/_main';
@import './block/_menu';
@import './block/_partners';
@import './block/_description';
@import './block/_line-block';
@import './block/_advantages-list';
@import './block/_our-advantages';
@import './block/_information';
@import './block/_catalog';
@import './block/_reviews';
@import './block/_download-katalog';
@import './block/_feedback';
@import './block/_footer';
@import './block/_media';


body {
    font-family: 'Monitorica', sans-serif;
    font-display: swap;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1680px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}
.container-main {
    max-width: 1310px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}