.feedback {
    width: 100%;
    height: auto;
    position: relative;
    padding: 130px 0 91px 0;
    text-align: center;
    font-family: 'Monitorica-Bold';
    &__title {
        font-size: 43px;
    }
    &__line {
        margin: 0 auto;
        margin-top: 30px;
    }
    &__descr {
        font-size: 18px;
        color: #86878b;
        margin-top: 35px;
    }
    &__form {
        margin-top: 100px;
        &-main {
            max-height: 210px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
    &__inputs {
        height: 55px;
        width: 600px;
        border: none;
        border-bottom: 1px solid rgb(206, 206, 206);
        outline: none;
        color: #000;
        font-size: 18px;
        padding: 0 5px;
        font-family: inherit;
        &::placeholder {
            color: #000;
            font-family: inherit;
            font-size: 18px;
            letter-spacing: -.25px;
        }
    }
    &__submit {
        width: 163px;
        height: 50px;
        margin: 0 auto;
        border-color: #FF4000;
        color: #000;
        margin-top: 40px;
        &:hover {
            background-color: #FF4000;
            color: #fff;
        }
        &:active {
            border-color: #000;
        }
    }
}