@media(max-width: 1720px) {
    .menu {
        &__item {
            a {
                font-size: 20px;
            }
        }
    }
    .main {
        min-height: unset;
        padding-bottom: 130px;
        &__header {
            width: 95%;
            margin: 0 auto;
        }
        &__hr {
            width: 95%;
        }
        &__logo {
            left: -135px;
            width: 420px;
        }
        &__title {
            margin-top: 34px;
            font-size: 41px;
        }
        &__line {
            margin-top: 27px;
        }
        &__descr {
            margin-top: 29px;
            font-size: 21px;
        }
        &__btn {
            width: 195px;
            height: 60px;
            margin-top: 44px;
            font-size: 20px;
        }
        &__form {
            width: 400px;
            &-title {
                font-size: 32px;
            }
            &-wrap {
                padding: 35px 50px 30px;
            }
            &-btn {
                height: 60px;
            }
            &-input {
                margin-top: 27px;
            }
        }
    }
    .partners {
        &__title {
            font-size: 23px;
        }
        &__descr {
            font-size: 17px;
        }
        &__info {
            width: 22%;
        }
        &__list {
            width: 77%;
            padding: 0;
            padding-right: 40px;
        }
    }
    .description {
        &__wrap {
            width: 96%;
            margin: 0 auto;
        }
        &__tabs {
            width: 125px;
        }
        &__tab {
            height: 125px;
        }
        &__tabcontent {
            width: 87%;
            justify-content: space-between;
        }
        &__info {
            width: 30%;
        }
        &__title {
            font-size: 28px;
        }
        &__text {
            font-size: 17px;
            line-height: 26px;
        }
        &__image {
            width: 65%;
            img {
                max-width: 700px;
            }
        }
    }
    .advantages-list {
        &__title {
            width: 38%;
            font-size: 33px;
            line-height: 42px;
        }
        &__wrap {
            padding: 145px 176px 110px 176px;
        }
        &__item {
            width: 239px;
            min-height: 235px;
            margin-right: 67px;
        }
        &__name {
            margin-top: 14px;
            margin-bottom: 0;
            font-size: 23px;
        }
        &__descr {
            font-size: 17px;
            margin: 0;
            margin-top: 16px;
        }
    }
    .our-advantages {
        padding: 113px 0;
        &__title {
            font-size: 33px;
        }
    }
    .information {
        padding: 150px 0 150px 0;
        &__title {
            font-size: 96px;
            margin-right: 9px;
            &-main {
                font-size: 38px;
            }
        }
        .owl-prev {
            top: 11%;
            transform: scale(.8);
        }
        .owl-next {
            top: 11%;
            transform: scale(.8);
        }
    }
    .catalog {
        padding-top: 125px;
        &__title {
            font-size: 38px;
        }
        &__line {
            margin-top: 42px;
        }
        &__item {
            width: 330px;
        }
        &__img {
            height: 380px;
        }
        &__name {
            margin-top: 25px;
            font-size: 32px;
        }
    }
    .reviews {
        padding: 120px 0 85px 0;
        &__title {
            font-size: 36px;
        }
        &__line {
            margin-top: 30px;
        }
        &__descr {
            margin-top: 30px;
        }
        &__block {
            margin-top: 60px;
        }
    }
    .download-katalog {
        padding: 85px 0 75px 0;
        &__title {
            font-size: 40px;
        }
        &__line {
            margin-top: 25px;
        }
        &__btn {
            width: 150px;
            height: 45px;
        }
    }
    .feedback {
        padding: 120px 0 95px 0;
        &__title {
            font-size: 40px;
        }
        &__line {
            margin-top: 27px;
        }
        &__descr {
            margin-top: 33px;
        }
        &__form {
            margin-top: 95px;
        }
    }
    .map {
        height: 550px;
        iframe {
            height: inherit;
        }
    }
    .footer {
        padding: 58px 0;
        &__wrap {
            width: 95%;
            margin: 0 auto;
        }
        &__contacts {
            &-city {
                margin-top: 11px;
            }
        }
    }
}

@media(max-width: 1529px) {
    .main {
        padding-top: 15px;
        padding-bottom: 110px;
        &__header {
            width: 90%;
            &-logo {
                width: 182px;
            }
        }
        &__hr {
            width: 90%;
            margin-top: 10px;
        }
        &__content {
            margin-top: 100px;
        }
        &__info {
            width: 420px;
        }
        &__logo {
            left: -120px;
            width: 340px;
        }
        &__title {
            margin-top: 24px;
            font-size: 33px;
        }
        &__line {
            margin-top: 28px;
        }
        &__descr {
            margin-top: 30px;
            font-size: 19px;
        }
        &__btn {
            width: 180px;
            height: 55px;
            margin-top: 50px;
            font-size: 19px;
        }
        &__form {
            width: 340px;
            &-wrap {
                padding: 30px 37px 20px;
            }
            &-title {
                font-size: 29px;
                line-height: 33px;
            }
            &-input {
                margin-top: 20px;
                font-size: 18px;
                &::placeholder {
                    font-size: 18px;
                }
            }
            &-btn {
                height: 55px;
                font-size: 20px;
            }
        }
        &__checkbox {
            margin-top: 20px;
            &-label {
                font-size: 17px;
            }
        }
    }
    .toggle__label {
        &::after {
            width: 1.7em;
            height: 1.7em;
        }
    }
    .menu {
        width: 570px;
        &__item {
            a {
                font-size: 18px;
            }
        }
    }
    .partners {
        padding-top: 25px;
        padding-bottom: 22px;
        &__info {
            width: 29%;
            margin-right: 40px;
            padding-left: 40px;
        }
        &__title {
            font-size: 22px;
        }
        &__descr {
            font-size: 16px;
            margin-top: 12px;
        }
        &__list {
            width: 62%;
            padding-right: 19px;
            li {
                width: 115px;
            }
        }
    }
    .description {
        padding: 120px 0 78px 0;
        &__wrap {
            width: 96%;
        }
        &__tabs {
            width: 115px;
            margin-right: 35px;
        }
        &__tab {
            height: 115px;
        }
        &__tabcontent {
            width: 87%;
        }
        &__info {
            width: 34%;
        }
        &__title {
            font-size: 26px;
            margin-top: 10px;
        }
        &__text {
            font-size: 17px;
            line-height: 24px;
            margin-top: 24px;
        }
        &__image {
            width: 65%;
            align-items: center;
            img {
                max-width: 630px;
                height: fit-content;
            }
        }
    }
    .advantages-list {
        &__wrap {
            padding: 115px 176px 105px 176px;
        }
        &__title {
            width: 49%;
            font-size: 30px;
            line-height: 38px;
        }
        &__line {
            margin-top: 24px;
        }
        &__block {
            margin-top: 25px;
        }
        &__item {
            width: 22%;
            min-height: 225px;
            margin-right: 30px;
        }
        &__img {
            &-wrap {
                width: 50px;
                height: 66px;
            }
        }
        &__name {
            margin-top: 9px;
            margin-bottom: 0;
            font-size: 20px;
        }
        &__descr {
            font-size: 16px;
            margin: 0;
            margin-top: 13px;
        }
    }
    .our-advantages {
        padding: 0;
        .container-main {
            max-width: 1680px;
        }
        &__wrap {
            width: auto;
            padding: 115px 176px 105px 176px;
        }
        &__info {
            width: 48%;
        }
        &__image {
            width: 48%;
            height: auto;
            margin-top: 90px;
            img {
                width: 100%;
                height: auto;
            }
        }
        &__title {
            font-size: 30px;
        }
        &__line {
            margin-top: 22px;
        }
        &__descr {
            font-size: 17px;
            margin-top: 23px;
            line-height: 26px;
        }
        &__block {
            height: auto;
            margin-top: 35px;
        }
        &__item {
            width: 47%;
            height: auto;
            min-height: 105px;
        }
        &__img {
            &-wrap {
                width: 40px;
                height: 40px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        &__text {
            margin-top: 10px;
            font-size: 16px;
        }
    }
    .information {
        padding: 120px 0 100px 0;
        .container-main {
            max-width: 1680px;
        }
        &__title {
            font-size: 82px;
            margin-right: 8px;
            &-main {
                font-size: 36px;
            }
        }
        &__line {
            margin-top: 35px;
        }
        &__stats {
            width: 1150px;
            margin: 0 auto;
            height: 70px;
            margin-top: 50px;
        }
        &__item {
            width: 22rem;
            &:first-child {
                width: 25rem;
            }
        }
        &__descr {
            font-size: 17px;
            line-height: 22px;
        }
        .owl-item {
            margin-right: 55px;
        }
        &__slider {
            width: 90%;
            height: auto;
            max-height: 415px;
            margin: 0 auto;
            margin-top: 60px;
            &-item {
                width: 95%;
            }
            &-subtitle {
                margin-top: 18px;
                font-size: 18px;
            }
            &-title {
                margin-top: 6px;
                font-size: 22px;
                line-height: 25px;
            }
            &-descr {
                margin-top: 10px;
                font-size: 17px;
            }
        }
        .owl-next {
            right: -5%;
        }
        .owl-prev {
            left: -5%
        }
    }
    .catalog {
        padding: 115px 0 105px 0;
        &__title {
            font-size: 35px;
        }
        &__line {
            margin-top: 30px;
        }
        &__wrap {
            margin-top: 50px;
        }
        &__item {
            width: 300px;
            margin-right: 50px;
            margin-top: 65px;
        }
        &__img {
            height: 350px;
        }
        &__name {
            margin-top: 20px;
            font-size: 28px;
        }
        &__descr {
            margin-top: 8px;
            font-size: 17px;
        }
        &__btn {
            width: 130px;
            height: 37px;
            margin-top: 22px;
            font-size: 17px;
        }
    }
    .reviews {
        padding: 110px 0 85px 0;
        &__title {
            font-size: 35px;
        }
        &__line {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 30px;
            font-size: 18px;
        }
        &__block {
            width: 100%;
        }
        &__item {
            width: 335px;
            margin-right: 0;
        }
        &__mess {
            width: 335px;
            font-size: 17px;
            padding: 25px 33px;
        }
        &__cart {
            margin-top: 28px;
            &-text {
                padding-top: 14px;
            }
            &-name {
                font-size: 21px;
            }
            &-descr {
                margin-top: 5px;
                font-size: 18px;
            }
        }
    }
    .download-katalog {
        padding: 80px 0 70px 0;
        &__title {
            font-size: 35px;
        }
        &__line {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 20px;
            font-size: 17px;
        }
        &__btn {
            width: 140px;
            height: 40px;
            font-size: 17px;
        }
    }
    .feedback {
        padding: 120px 0 95px 0;
        &__title {
            font-size: 35px;
        }
        &__line {
            margin-top: 25px;
        }
        &__descr {
            margin-top: 30px;
            font-size: 17px;
        }
        &__form {
            width: 95%;
            margin: 0 auto;
            margin-left: 5%;
            margin-top: 80px;
            &-main {
                width: 100%;
            }
        }
        &__inputs {
            height: 55px;
            width: 45%;
        }
        &__submit {
            width: 152px;
            height: 45px;
            margin: 0 auto;
            margin-right: 46%;
            margin-top: 45px;
        }
    }
    .map {
        height: 450px;
    }
    .footer {
        padding: 48px 0;
        &__logo {
            &-header {
                width: 180px;
                height: 80px;
                img {
                    width: 100%;
                }
            }
        }
        &__submenu {
            padding-left: 150px;
        }
        &__info {
            max-width: 300px;
            text-align: right;
        }
        &__contacts {
            &-city {
                margin-top: 10px;
                font-size: 20px;
            }
            &-number {
                font-size: 28px;
            }
        }
    }
}
@media(max-width: 1350px) {
    .information {
        .owl-item {
            margin-right: 35px;
        }
        &__slider {
            &-item {
                width: 320px;
            }
        }
    }
}
@media (max-width: 1199px) {
    .main {
        padding-top: 17px;
        padding-bottom: 95px;
        &__header {
            &-logo {
                width: 170px;
            }
        }
        &__content {
            padding: 0;
            width: 86%;
            margin: 0 auto;
            padding-left: 5%;
            margin-top: 70px;
        }
        &__info {
            width: 420px;
        }
        &__logo {
            left: 0;
            width: 300px;
        }
        &__title {
            margin-top: 24px;
            font-size: 31px
        }
        &__line {
            margin-top: 28px;
        }
        &__descr {
            margin-top: 30px;
            font-size: 18px;
        }
        &__btn {
            width: 170px;
            height: 55px;
            margin-top: 50px;
            font-size: 18px;
        }
        &__form {
            width: 330px;
            &-wrap {
                padding: 30px 37px 20px;
            }
            &-title {
                font-size: 28px;
                line-height: 33px;
            }
        }
        &__checkbox {
            &-label {
                font-size: 16px;
                &::after {
                    width: 1.6em;
                    height: 1.6em;
                }
                &::before {
                    width: .9em;
                    height: .40em;
                    top: .89em;
                    left: .25em;
                }
            }
        }

    }
    .partners {
        padding-top: 20px;
        padding-bottom: 20px;
        &__info {
            width: 29%;
            margin-right: 40px;
            padding-left: 40px;
        }
        &__title {
            font-size: 21px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 7px;
        }
        &__list {
            width: 77%;
            padding-right: 19px;
            li {
                width: 102px;
            }
        }
    }
    .advantages-list {
        &__wrap {
            padding: 105px 0 80px 0;
            width: 90%;
            margin: 0 auto;
        }
        &__title {
            font-size: 28px;
            line-height: 34px;
        }
        &__name {
            margin-top: 7px;
            font-size: 19px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 10px;
        }
    }
    .information {
        padding: 105px 0 85px 0;
        &__title {
            font-size: 70px;
            margin-right: 8px;
            &-main {
                font-size: 31px;
            }
        }
        &__descr {
            font-size: 16px;
            line-height: 20px;
        }
        &__stats {
            width: 950px;
            margin-top: 35px;
        }
        &__line {
            margin-top: 25px;
        }
        &__item {
            width: 22rem;
            &:first-child {
                width: 26rem;
            }
        }
        &__slider {
            width: 90%;
            margin-top: 60px;
            &-item {
                width: 270px;
            }
            &-subtitle {
                margin-top: 18px;
                font-size: 18px;
            }
            &-title {
                margin-top: 5px;
                font-size: 20px;
                line-height: 25px;
            }
            &-descr {
                margin-top: 8px;
                font-size: 16px;
            }
        }
        .owl-item {
            margin-right: 55px;
        }
        .owl-prev {
            transform: scale(.6);
            left: -6%;
        }
        .owl-next {
            right: -6%;
            transform: scale(.6);
            top: 7%;
        }
    }
    .description {
        padding: 105px 0 80px 0;
        &__tabs {
            width: 95px;
            margin-right: 25px;
        }
        &__tab {
            height: 95px;
            font-size: 16px;
        }
        &__info {
            width: 34%;
        }
        &__title {
            font-size: 23px;
            margin-top: 10px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
            margin-top: 12px;
        }
        &__image {
            width: 62%;
            img {
                max-width: 100%;
            }
        }
    }
    .our-advantages {
        &__wrap {
            padding: 115px 0 80px 0;
            width: 85%;
            margin: 0 auto;
        }
    }
    .catalog {
        padding: 115px 0 105px 0;
        &__title {
            font-size: 31px;
        }
        &__line {
            margin-top: 30px;
        }
        &__wrap {
            margin-top: 50px;
        }
        &__item {
            width: 260px;
            margin-right: 50px;
        }
        &__img {
            height: 310px;
        }
        &__name {
            margin-top: 15px;
            font-size: 25px;
        }
        &__descr {
            margin-top: 5px;
            font-size: 16px;
        }
    }
    .reviews {
        padding: 105px 0 85px 0;
        &__title {
            font-size: 31px;
        }
        &__line {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 25px;
            font-size: 17px;
        }
        &__block {
            width: 100%;
            margin-top: 45px;
        }
        &__item {
            width: 31%;
            margin-right: 0;
        }
        &__mess {
            width: 300px;
            font-size: 16px;
            padding: 20px 30px;
        }
        &__cart {
            &-text {
                padding-top: 10px;
            }
            &-name {
                font-size: 20px;
                line-height: 22px;
            }
            &-descr {
                margin-top: 5px;
                font-size: 16px;
            }
        }
    }
    .download-katalog {
        padding: 55px 0 45px 0;
        &__title {
            font-size: 31px;
        }
        &__line {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 20px;
            font-size: 16px;
        }
    }
    .feedback {
        padding: 105px 0 90px 0;
        &__title {
            font-size: 31px;
        }
        &__line {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 25px;
            font-size: 16px;
        }
    }
    .map {
        height: 400px;
    }
    .footer {
        padding: 48px 0;
        &__logo {
            &-header {
                width: 165px;
                height: 80px;
            }
        }
        &__menus {
            max-width: 505px;
        }
        &__menu {
            width: 476px;
            margin-top: 10px;
            &-item {
                font-size: 17px;
            }
        }
        &__submenu {
            padding-left: 128px;
            &-item {
                margin-bottom: 8px;
            }
        }
        &__info {
            max-width: 230px;
            text-align: right;
        }
        &__contacts {
            &-city {
                font-size: 18px;
            }
            &-number {
                font-size: 24px;
                margin-top: 10px;
            }
            &__social {
                margin-top: 45px;
                min-height: 23px;
                &-elem {
                    margin-right: 13px;
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .burger {
        display: block;
        position: fixed;
        padding: 10px 10px;
        left: 15px;
        top: 9px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        z-index: 10000;
        &-line {
            display: block;
            width: 25px;
            height: 2px;
            background-color: #fff;
            border-radius: 1px;
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .burger-active {
        top: 5px;
        padding: 20px 10px;
    }
    .main {
        &__menu {
            position: fixed;
            left: 0;
            right: 0;
            top: 0;
            width: 100%;
            height: 52px;
            border-bottom: 2px solid #5c5c5c;
            margin: 0;
            background-color: rgb(29, 29, 29); 
            z-index: 9999;
            &-list {
                width: 40%;
                position: fixed;
                transition: .5s all ease-in-out;
                height: 100%;
                display: block;
                top: 36px;
                background: rgba(48, 48, 48, 0.97);
                text-align: center;
                padding-top: 125px;
                border-right: 2px solid #5c5c5c;
            }
            &-item {
                margin-bottom: 20px;
                border: none;
                a {
                    color: #fff;
                    font-size: 1.7em;
                    font-family: 'Monitorica-Bold';
                    border-bottom: 1px solid transparent;
                    transition: .2s all ease;
                    &:hover {
                        border-color: #fff;
                    }
                }
            }
        }
    }
    .menu-active {
        left: 0;
    }
    .menu-notactive {
        left: -100%;
    }
    .main {
        padding-top: 17px;
        padding-bottom: 95px;
        &__header {
            &-logo {
                width: 110px;
                position: fixed;
                top: 8px;
                right: 25px;
                z-index: 10000;
                height: 40px;
            }
        }
        &__content {
            padding: 0;
            width: 86%;
            margin: 0 auto;
            margin-top: 70px;
        }
        &__info {
            width: 45%;
        }
        &__form {
            width: 310px;
            &-title {
                font-size: 26px;
                line-height: 33px;
            }
            &-input {
                height: 36px;
                font-size: 17px;
                &::placeholder {
                    font-size: 17px;
                }
            }
            &-btn {
                font-size: 18px;
            }
        }
        &__logo {
            left: 0;
            width: 200px;
        }
        &__title {
            margin-top: 24px;
            font-size: 28px;
            line-height: 1;
        }
        &__line {
            margin-top: 28px;
        }
        &__descr {
            margin-top: 25px;
            font-size: 16px;
            padding-right: 20px;
        }
        &__btn {
            width: 160px;
            height: 50px;
            margin-top: 40px;
            font-size: 17px;
        }

        &__checkbox {
            margin-top: 20px;
            &-label {
                font-size: 15px;
                a {
                    font-size: 15px;
                }
                &::before {
                    top: 0.99em;
                    left: 0.25em;
                }
                &::after {
                    top: 7%;
                }
            }
        }
        .toggle {
            --uiToggleSize: var(--toggleSize, 1.25rem);
        }
        .toggle__input:checked~.toggle__label::before {
            --uiToggleArrowWidth: var(--toggleArrowWidth, 1px);
        }
    }
    .partners {
        padding-top: 10px;
        padding-bottom: 5px;
        &__info {
            width: 29%;
            margin-right: 50px;
            padding-left: 40px;
        }
        &__title {
            font-size: 21px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 8px;
        }
        &__list {
            width: 80%;
            justify-content: unset;
            padding-right: 19px;
            li {
                width: 95px;
                margin-bottom: 5px;
                margin-right: 1%;
            }
        }
    }
    .description {
        padding: 90px 0 80px 0;
        &__tabs {
            width: 95px;
            margin-right: 15px;
        }
        &__tabcontent {
            width: 87%;
        }
        &__info {
            width: 38%;
        }
        &__title {
            font-size: 21px;
            margin-top: 0;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
            margin-top: 8px;
        }
        &__image {
            width: 58%;
        }
    }
    .advantages-list {
        padding: 100px 0 65px 0;
        width: 90%;
        &__title {
            width: 49%;
            font-size: 24px;
            line-height: 30px;
        }
        &__line {
            margin-top: 24px;
        }
        &__block {
            margin-top: 30px;
        }
        &__item {
            width: 22.5%;
            min-height: 225px;
            margin-right: 19px;
        }
        &__img {
            transform: scale(.85);
            &-wrap {
                width: 50px;
                height: 66px;
            }
        }
        &__name {
            margin-top: 7px;
            font-size: 18px;
            line-height: 16px;
        }
        &__descr {
            font-size: 14px;
            margin-top: 8px;
        }
    }
    .our-advantages {
        &__wrap {
            padding: 110px 0 85px 0;
        }
        &__info {
            width: 53%;
        }
        &__title {
            font-size: 26px;
        }
        &__line {
            margin-top: 22px;
        }
        &__descr {
            font-size: 15px;
            margin-top: 20px;
            line-height: 21px;
        }
        &__block {
            margin-top: 35px;
        }
        &__item {
            width: 50%;
            display: flex;
            height: auto;
            min-height: 70px;
        }
        &__img {
            &-wrap {
                width: 35px;
                margin-right: 10px;
                height: 35px;
            }
        }
        &__text {
            margin-top: -3px;
            width: 75%;
            position: relative;
            font-size: 14px;
        }
        &__image {
            width: 46%;
            height: auto;
            margin-top: 90px;
        }
    }
    .information {
        padding: 100px 0 90px 0;
        &__title {
            height: 97%;
            font-size: 65px;
            margin-left: 0;
            margin-right: -6px;
            &-main {
                font-size: 26px;
            }
        }
        &__descr {
            padding: 0;
            margin: 0;
            font-size: 15px;
            line-height: 18px;
            text-align: center;
        }
        &__line {
            margin-top: 20px;
        }
        &__stats {
            width: 83%;
            height: 70px;
            margin-top: 35px;
        }
        &__item {
            width: 13rem;
            flex-direction: column;
            &:first-child {
                width: 13rem;
            }
        }
        &__slider {
            width: 85%;
            margin-top: 60px;
            height: auto;
            max-height: 415px;
            &-item {
                width: 100%;
            }
            &-subtitle {
                margin-top: 18px;
                font-size: 15px;
            }
            &-title {
                margin-top: 4px;
                font-size: 17px;
                line-height: 18px;
            }
            &-descr {
                margin-top: 7px;
                font-size: 13px;
            }
        }
        .owl-carousel.owl-drag .owl-stage .owl-item {
            margin-right: 35px;
        }
        .owl-next {
            right: -8%;
            top: -4%;
        }
        .owl-prev {
            left: -8%;
            top: -4%;
        }
    }
    .catalog {
        padding: 105px 0 95px 0;
        &__title {
            font-size: 26px;
        }
        &__line {
            margin-top: 20px
        }
        &__wrap {
            margin-top: 40px;
        }
        &__item {
            width: 210px;
            margin-right: 25px;
        }
        &__img {
            height: 260px;
        }
        &__name {
            margin-top: 12px;
            font-size: 20px;
        }
        &__descr {
            margin-top: 3px;
            font-size: 15px;
            line-height: 17px;
            padding-right: 40px;
        }
        &__btn {
            width: 115px;
            height: 32px;
            margin-top: 18px;
            font-size: 16px;
        }
    }
    .reviews {
        padding: 100px 0 85px 0;
        &__title {
            font-size: 26px;
        }
        &__line {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 15px;
            font-size: 17px;
        }
        &__block {
            width: 100%;
            margin-top: 40px;
        }
        &__item {
            width: 31%;
            margin-right: 0;
        }
        &__mess {
            width: 93%;
            font-size: 15px;
            padding: 20px 20px;
            line-height: 20px;
        }
        &__cart {
            margin-top: 28px;
            &-image {
                margin-right: 15px;
            }
            &-img {
                width: 70px;
                height: 70px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-text {
                padding-top: 5px;
                padding-right: 50px;
            }
            &-name {
                font-size: 19px;
                line-height: 19px;
            }
            &-descr {
                margin-top: 4px;
                font-size: 15px;
                line-height: 19px;
            }
        }
    }
    .download-katalog {
        padding: 45px 0 35px 0;
        &__title {
            font-size: 26px;
        }
        &__line {
            margin-top: 20px;
        }
        &__descr {
            margin-top: 20px;
            font-size: 15px;
        }
        &__btn {
            width: 130px;
            height: 35px;
            font-size: 16px;
            margin-top: 35px;
        }
    }
    .feedback {
        padding: 95px 0 80px 0;
        &__title {
            font-size: 26px;
        }
        &__line {
            margin-top: 15px;
        }
        &__descr {
            margin-top: 20px;
            font-size: 16px;
        }
        &__form {
            width: 95%;
            margin: 0 auto;
            margin-left: 5%;
            margin-top: 80px;
            &-main {
                width: 100%;
                max-height: 200px;
            }
        }
        &__inputs {
            height: 50px;
            width: 45%;
            font-size: 16px;
            &::placeholder {
                font-size: 16px;
            }
        }
        &__submit {
            width: 135px;
            height: 41px;
            margin: 0 auto;
            margin-right: 44.5%;
            margin-top: 45px;
            font-size: 17px;
        }
    }
    .map {
        height: 300px;
    }
    .footer {
        padding: 45px 0;
        &__logo {
            &-header {
                width: 145px;
                height: 60px;
            }
        }
        &__menus {
            max-width: 505px;
        }
        &__menu {
            width: 295px;
            margin-top: 5px;
            &-list {
                flex-wrap: wrap;
                justify-content: unset;
                align-items: unset;
            }
            &-item {
                font-size: 17px;
                margin-right: 14px;
                line-height: 28px;
                a {
                    font-size: 18px;
                }
            }
        }
        &__submenu {
            padding-left: 5px;
            max-height: 145px;
            margin-top: 20px;
        }
        &__info {
            max-width: 240px;
        }
        &__social {
            &-elem {
                margin-right: 15px;
            }
        }
    }
}
@media(max-width: 767px) {
    
}