.menu {
    width: 760px;
    height: auto;
    &__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
    }
    &__item {
        list-style-type: none;
        border-bottom: 1px solid transparent;
        transition: .2s all ease;
        a {
            text-decoration: none;
            color: #fff;
            font-size: 21px;
        }
        &:hover {
            border-bottom-color: #fff;
        }
        &:active {
            border-bottom-color: transparent;
        }
    }
}