@font-face {
    font-family: 'Monitorica';
    src: 
        url('../../fonts/Monitorica-Rg.ttf') format('truetype'),
        url('../../fonts/Monitorica-Rg.woff2') format("woff2"),
        url('../../fonts/Monitorica-Rg.woff') format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Monitorica-Bold';
    src: 
        url('../../fonts/Monitorica-Bd.ttf') format('truetype'),
        url('../../fonts/Monitorica-Bd.woff2') format("woff2"),
        url('../../fonts/Monitorica-Bd.woff') format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}